<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Admin</title>
    <!-- Latest compiled and minified CSS -->
    {% include 'headerfiles.html' %}
      <script>
        $(document).ready(function () {
            $('#myform').validate();
        });
    </script>


</head>
<body>

{% include 'adminheader.html' %}

<div class="container">
    <div class="col-6 offset-3">
        <h1 class="text-center">ADD NEW ADMIN</h1>
        <form action="/addadminaction" method="POST" id="myform">
            {% csrf_token %}
            <div class="form-group">
                <label>Enter Email</label>
                <input class="form-control" type="email" name="email" data-rule-required="true"
                       data-msg-required="Please Enter Email ID">
            </div>
            <div class="form-group">
                <label>Enter Password</label>
                <input class="form-control" type="password" name="password" data-rule-required="true"
                       data-msg-required="Please Enter Password">
            </div>
            <div class="form-group">
                <label>Select Admin Type</label>
                <select class="form-control" name="admintype">
                <option value="superadmin">Super Admin</option>
                <option value="subadmin">Sub Admin</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
        {% if msg != "" %}
            <div class="alert alert-success">
                    {{ msg }}
            </div>
        {% endif %}

    </div>
</div>

</body>
</html>