<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    {% include 'headerfiles.html' %}
     <script>
        $(document).ready(function () {
            $('#myform').validate();
        });
    </script>
</head>

<body>
{% include 'userheader.html' %}
<div class="container">
    <div class="col-6 offset-3">
        <h1 class="text-center">Change Password</h1>
        <form action="/changepasswordaction" method="POST" id="myform">
            {% csrf_token %}
            <div class="form-group">
                <label>Email</label>
                <input  class="form-control" readonly value="{{ request.session.USEREMAIL }}" type="email" name="email" ><br>

            </div>
             <div class="form-group">
                <label>Enter old password</label>
                <input  class="form-control"  type="password" name="oldpassword" data-rule-required="true"
                       data-msg-required="Please Enter Old Password"><br>

            </div>
             <div class="form-group">
                <label>Enter new password</label>
                <input  class="form-control"  type="password" name="newpassword" data-rule-required="true"
                       data-msg-required="Please Enter New Password"><br>

            </div>

             <div class="form-group">
                <label>Confirm password</label>
                <input  class="form-control"  type="password" name="confirmpassword" data-rule-required="true"
                       data-msg-required="Please Confirm Passowrd"><br>

            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>

        {% if msg != "" %}
            <div class="alert alert-info">
                    {{ msg }}
            </div>
        {% endif %}




    </div>
</div>




</body>
</html>