<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My profile</title>
    {% include 'headerfiles.html' %}
    <script>
        function profile() {
            {#alert();#}
            if ($('#myform').valid()) {
                var formdata = new FormData();
                formdata.append('fullname', document.getElementById('fullname').value);
                formdata.append('mobileno', document.getElementById('mobileno').value);
                formdata.append('photo', document.getElementById('photo').files[0]);
                {#alert(document.getElementById('city').value);#}
                formdata.append('address', document.getElementById('address').value);
                {#  formdata.append('photo',document.getElementById('photo').value);#}

                formdata.append('usertype', document.getElementById('usertype').value);
                formdata.append('city', document.getElementById('city').value);
                console.log(formdata);
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var ar = JSON.parse(this.response);
                        console.log(ar);
                        document.getElementById('msg').innerHTML = ar['msg'];
                        document.getElementById('msg').className = 'alert alert-success';
                        window.location.href = "/myprofile";
                    }
                };
                xmlhttp.open("POST", "/myprofileaction", true);
                xmlhttp.send(formdata);
            }
        }

        {#$(document).ready(function () {#}
        {#    $('#myform').validate();#}

    </script>


</head>
<body>
{% include 'userheader.html' %}
<div class="container">
    <div class="col-6 offset-3">
        <h1 class="text-center">MY PROFILE</h1>
        <form action="" method="POST" enctype="multipart/form-data" id="myform">
            {% csrf_token %}

            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" value="{{ request.session.USEREMAIL }}" readonly name="email">
            </div>
            <div class="form-group">
                <label style="display: block">My Photo</label>
                <img height="150px" width="150px" src="{{ photo }}" id="img1">
                <input class="form-control" type="file" id="photo" name="photo">
            </div>

            <div class="form-group">

                <label>Name</label>
                <input class="form-control" type="text" id="fullname" name="fullname" data-rule-required="true"
                       data-msg-required="Please Enter Name" value="{{ fullname }}">
            </div>

            <div class="form-group">
                <label>Mobile No.</label>
                <input class="form-control" type="number" id="mobileno" value="{{ mobileno }}" name="mobileno"
                       data-rule-required="true" minlength="10" maxlength="10"
                       data-msg-required="Please Enter Mobile No.">
            </div>


            <div class="form-group">
                <label>City</label>
                <input class="form-control" type="text" id="city" name="city" value="{{ city }}"
                       data-rule-required="true"
                       data-msg-required="Please Enter City">
            </div>


            <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" id="address" name="address" data-rule-required="true"
                          data-msg-required="Please Enter Address">{{ address }}</textarea>
            </div>


            <div class="form-group">
                <label>User Type</label>
                <select id="usertype" class="form-control" name="usertype">
                    {% if usertype == 'Buyer' %}
                        <option value="Buyer" selected>Buyer</option>
                    {% else %}
                        <option value="Buyer">Buyer</option>
                    {% endif %}

                    {% if usertype == 'Seller' %}
                        <option value="Seller" selected>Seller</option>
                    {% else %}
                        <option value="Seller">Seller</option>
                    {% endif %}
                </select>
            </div>

            <div class="form-group">
                <button type="button" onclick="profile()" class="btn btn-success">Submit</button>
            </div>
        </form>
        <div id="msg"></div>
    </div>
</div>

</body>
</html>