<!-- header -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="index.html">Share My Space</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="indexpage.html">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="gallery.html">Gallery</a>
                    <a class="dropdown-item" href="typography.html">Typography</a>

                    <a class="dropdown-item" href="error.html">Error</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="contact.html">Contact</a>
            </li>

            <li class="w3">
                <a href="userlogin" class="nav-link">Login</a>
            </li>

        </ul>
    </div>
</nav>
<!-- //header -->


{#<nav class="navbar navbar-inverse">#}
{#  <div class="container-fluid">#}
{#    <div class="navbar-header">#}
{#      <a class="navbar-brand" href="#">Home</a>#}
{#    </div>#}
{#    <ul class="nav navbar-nav  navbar-right">#}
{##}
{##}
{##}
{##}
{##}
{#      <li class="dropdown">#}
{#        <a class="dropdown-toggle" data-toggle="dropdown" href="#">User#}
{#        <span class="caret"></span></a>#}
{#        <ul class="dropdown-menu">#}
{#          <li><a href="userlogin">Login</a></li>#}
{#          <li><a href="usersignup">Signup</a></li>#}
{##}
{#        </ul>#}
{#      </li>#}
{##}
{#    </ul>#}
{#  </div>#}
{#</nav>#}


{#<header>#}
{#	<nav class="navbar navbar-expand-lg navbar-light">#}
{#  <a class="navbar-brand" href="index.html">Fast Service</a>#}
{#  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#  </button>#}
{##}
{#  <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#    <ul class="navbar-nav ml-auto">#}
{#      <li class="nav-item ">#}
{#        <a class="nav-link" href="index.html">Home </a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="about.html">About</a>#}
{#      </li>#}
{#	  <li class="nav-item">#}
{#        <a class="nav-link" href="services.html">Services</a>#}
{#      </li>#}
{#      <li class="nav-item dropdown">#}
{#        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#          Dropdown#}
{#        </a>#}
{#        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#          <a class="dropdown-item" href="gallery.html">Gallery</a>#}
{#          <a class="dropdown-item" href="typography.html">Typography</a>#}
{##}
{#          <a class="dropdown-item" href="error.html">Error</a>#}
{#        </div>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link " href="contact.html">Contact</a>#}
{#      </li>#}
{##}
{#<li class="w3">#}
{#                            <a href="#" class="nav-link" data-toggle="modal" data-target="#myModal">Login</a>#}
{#                        </li>#}
{##}
{#    </ul>#}
{##}
{#</nav>#}
{#</div>#}
